html body {
    font-size: 1rem;
}

main {
    --main-width: 860px;
    --hljs-bg: #3d3d3d;
}

img {
    height: auto;
}

.header .logo img {
    height: 40px;
}

h1, h2, h3, h4, h5 {
    line-height: 1.5;
    margin: 20px 0;
}

p {
    margin-bottom: 20px;
}

a,
.archive-entry h3 {
    text-decoration: underline;
}

.toc a:hover,
.post-content a {
    box-shadow: 0 0;
}

#menu .active {
    border-bottom: 0;
}

.homepage-content {
    margin: 20px auto;
    max-width: var(--main-width);
    text-align: left;
    width: 100%;
}

.work {
    padding: 10px 30px;
    margin-top: 20px;
}

.work h2 {
    margin-top: 0px;
}

.grey {
    background-color: #d9d7d7;
}
body.dark .grey {
    background-color: #525151;
}

.box {
    display: flex;
    flex-direction: row;
}

.latest-blogs .box,
.latest-notes .box  {
    flex-direction: column;
}

.box .column.onethird {
    width: 34%;
}

.box .column.twothird {
    width: 66%;
}

.box img.avatar {
    border-radius: 200px;
}

.box .post {
    display: flex;
    margin: 0 0 20px 0;
}

.box .cover {
    flex-shrink: 0;
    flex-basis: 200px;
}

.box .cover img {
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .15);
    border-radius: 4px;
    height: auto;
}

.box .content {
    padding-left: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}

.box .content h3 {
    margin: 0;
    padding: 0;
}

.box .content .post-date {
    margin-bottom: 10px;
    display: block;
}

.notice {
    padding: 20px;
    margin: 20px 0;
}

.post-content figure {
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 10px;    
}

.post-content figure picture img {
    margin: 0;
}

.post-content figure figcaption {
    padding: 10px 3px 0 3px; 
    color: #666;
    font-size: .75em;
}

.post-content blockquote {
    font-size: 2em;
    letter-spacing: .075em;
    float: left;
    padding: 45px 0 30px 25px;
    margin: 20px 0 40px;
    border-top: 2px dotted #858585;
    border-bottom: 2px dotted #858585;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    border-inline-start: unset;
}

.post-content blockquote p::first-letter {
    font-size: 2.9em;
    float: left;
    line-height: .52em;
    margin-right: -3px;
    position: relative;
    z-index: 1;
}

.tweet .post-content {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    max-width: 566px;
}

.tweet .post-content p img {
    border-radius: 24px;
}

.tweet .post-content .head {
    display:flex;
    flex-direction: row;
}

.tweet .post-content .head img.avatar {
    width: 48px;
    height: auto;
    border-radius: 24px;
}

.tweet .post-content .head .account {
    padding: 14px;
}

.tweet .post-content .head .name {
    font-weight: bold;
}

.tweet .post-content .head .nickname a{
    color: #aaa;
}

.tweet .post-content .post-meta {
    color: #aaa;
}

.disclaimer {
    padding: 20px;
}

.connect ul {
    margin-left: 0;
}

.connect li {
    list-style: none;
}

.connect li img {
    height: 26px;
    width: 26px;
    vertical-align: middle;
    display: inline-block;
    margin: 2px 0;
}

.dark .logo img,
.dark .connect li img {
    filter: invert(75%);
}

.dark .main img {
    filter: grayscale(100%);
}

.dark .grey {
    background-color: var(--header);
}

/* Responsive layout */
@media (max-width: 800px) {
    .box {
        flex-direction: column;
    }

    .box .column.onethird {
        width: 100%;
    }

    .box .column.twothird {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .box .post {
        flex-direction: column;
    }

    .box .post .content {
        margin: 20px 0 0 0;
        padding: 0;
    }

    .box .cover {
        flex-basis: content;
    }
}