.logo__cursor {
    display: none;
}

img {
    height: auto;
}

.homepage-content {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    text-align: left;
    width: 100%;
}

.work {
    padding: 10px;
    margin-top: 20px;
}

.work h2 {
    margin-top: 0px;
}

.grey {
    background-color: #f6f6f6;
}

.dark-theme .grey {
    background-color: var(--header);
}

.box {
    display: flex;
    flex-direction: row;
}

.box .column.onethird {
    width: 34%;
}

.box .column.twothird {
    width: 66%;
}

.box img.avatar {
    border-radius: 200px;
}

.box .post {
    display: flex;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

.box .cover {
    flex-shrink: 0;
    flex-basis: 200px;
}

.box .cover img {
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .15);
    border-radius: 5px;
    height: auto;
}

.box .content {
    padding-left: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}

.box .content h3 {
    margin: 0;
    padding: 00;
}

.box .content .post-date {
    margin-bottom: 20px;
}

.notice {
    padding: 20px;
}

.disclaimer {
    padding: 20px;
}

.connect ul {
    margin-left: 0;
}

.connect li {
    list-style: none;
}

.connect li img {
    height: 26px;
    width: 26px;
    vertical-align: middle;
    display: inline-block;
    margin: 2px 0;
}

.dark-theme .connect li img {
    filter: invert(75%);
}

/* Responsive layout */
@media (max-width: 800px) {
    .box {
        flex-direction: column;
    }

    .box .column.onethird {
        width: 100%;
    }

    .box .column.twothird {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .box .post {
        flex-direction: column;
    }

    .box .post .content {
        margin: 20px 0 0 0;
        padding: 0;
    }

    .box .cover {
        flex-basis: content;
    }
}