<div class="latest-blogs">
    <h2>{{ with .Site.GetPage "latest-blogs" }}{{ .Title }}{{ end }}</h2>
    <div class="box">
        <div class="posts">
            {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
            <div class="post">
                {{/* check if we have a cover */}}
                {{ if .Params.cover }}
                    {{ $image := .Resources.GetMatch .Params.cover }}
                    {{ $cover := $image.Resize "314x 600x webp q95 lancoz" }}
                    <div class="cover">
                        <a href="{{ .Permalink }}"><img width="{{ $cover.Width }}" height="{{ $cover.Height }}" class="u-photo" src="{{ $cover.RelPermalink }}"></a>
                    </div>
                    <div class="content">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <span class="post-date">
                            {{ .Date | time.Format $.Site.Params.DateFormatList }}
                        </span>
                        {{ .Summary }}
                    </div>
                {{ else }}
                <div class="content">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>{{ .Summary }}
            </div>
                {{ end }}
            </div>
            {{end}}
        </div>
        
    </div>
    <a href="/archive/">Take a look at the archive with more posts</a>
</div>