<div>
    <h2>{{ with .Site.GetPage "latest-blogs" }}{{ .Title }}{{ end }}</h2>
    <div class="box">
        <div class="column-4">
            <div class="posts">
                {{ range ( where .Site.RegularPages "Type" "posts" | first 14 ) }}
                <div class="post">
                    {{/* check if we have a cover */}}
                    {{ if .Params.cover }}
                        {{ $images := .Resources.GetMatch .Params.cover }}
                        {{ $cover := $images.Resize "300x 200x q95 lancoz" }}
                        <a href="{{ .Permalink }}"><img class="u-photo" src="{{ $cover.RelPermalink }}"></a>
                        <a href="{{ .Permalink }}">{{ .Title }}</a> - {{ .Summary }}
                    {{ else }}
                        <a href="{{ .Permalink }}">{{ .Title }}</a> - {{ .Summary }}
                    {{ end }}
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>