{{ if .Get "src" }}
<figure>
  <picture class="{{ with .Get "position"}} {{ . }}{{ else -}} left {{- end }}">
  {{ if .Get "srcwebp" }}
    <source type="image/webp" srcset="{{ .Get "srcwebp" | safeURL }}">
  {{ end }}

  {{ if in (.Get "src") ".jpg" }}
    <source type="image/jpg" srcset="{{ .Get "src" | safeURL }}">
  {{ end }}

  {{ if in (.Get "src") ".png" }}
    <source type="image/png" srcset="{{ .Get "src" | safeURL }}">
  {{ end }}
  
  {{ $image := .Page.Resources.GetMatch (.Get "src") }}
  <img src="{{ .Get "src" | safeURL }}" width="{{ $image.Width}}" height="{{ $image.Height }}" {{ with .Get "alt" }} alt="{{ . | plainify }}" {{ end }} 
  {{ with .Get "title" }} title="{{ . | plainify }}" {{ end }} loading="lazy" />

  {{ if .Get "caption" }}
    <figcaption class="{{ with .Get " captionPosition"}}{{ . }}{{ else -}} center {{- end }}">{{ .Get "caption" | markdownify }}</figcaption>
  {{ end }}
  </picture>
</figure>
{{ end }}